.button-green {
    background: #3FCF5E;
    border-radius: 10px;
    border: 1px solid rgba(5, 175, 52, 0.53);
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 32px;
}

.button-small {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    padding: 9px;
}
