footer {
    background: #333333;
    height: 255px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 130px;
}

.section-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.link-footer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 47px;
}

.link-footer-last {
    margin-right: 0px;
    display: flex;
    align-items: center;
}

.tel-icon-footer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.icon-social-footer {
    margin-right: 20px;
}