.header {
    background-color: #ffffff;
    padding-top: 33px;
    padding-bottom: 30px;

    &__logo {
        width: 244px;
        height: 45px;
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__section-1 &__section-2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

   &__section-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__item {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;

        &:nth-child(2) {
            margin-right: 15px;
        }
    }

    &__phone {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-right: 60px;
        display: flex;
        align-items: center;
    }

    &__phone-icon {
        margin-right: 12px;
    }

}

.main-nav {
    &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #4F4F4F;

        &--dropdown {
            &::after {
                content: url(../assets/images/arrow-down.svg);
                margin-left: 4px;
            }
        }
        
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.search {
    width: 345px;
    margin-top: 48px;
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.search-icon {
    margin-right: 22px;
}

input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-align: left;
}

input {
    background-color: transparent;
    padding-left: 20px;
    height: 54px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}