.back {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.back::before {
    content: url(../images/back-arrow.svg);
    display: inline-block;
    width: 10.5px;
    height: 5.26px;
    margin-right: 10px;
}

$accentColor: #00C620;
$accentbackground: #3FCF5E;

hr {
    width: 100%;
    height: 0px;
    border: 1px solid #F2F2F2;
}

.shop-container {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}

.shop-item {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.shop-text-left {
    display: flex;
    justify-content: space-between;
}

.item-description-shop {
    margin-left: 15px;
}

.shop-text-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

$fw: 600;
$fs: 24px;
$lh: 29px;

@mixin titleFont($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

h4 {
    @include titleFont(600, 24px, 29px);
    margin: 0;
    margin-bottom: 9px;
    color: #333333;
}

.text-gray-small {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #BDBDBD;
    margin-bottom: 0;
    margin-top: 0;
}

.shop-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.price-one {
    display: flex;
    justify-content: left;
    margin-top: 52px;
    margin-bottom: 0;
}

.price-total {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: 0;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-title {
    text-align: center;
}

.minus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.plus {
    margin-left: 20px;
}

.text-price-one {
    font-weight: $fw - 100;
    font-size: $fs;
    line-height: $lh;
    color: #828282;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 0;
}

.text-price-grn {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: #333333;
    margin: 0;
}

.btn-quantity {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid $accentColor;
    border-radius: 5px;
}

.green-line {
    width: 100%;
    background-color: $accentbackground;
    padding: 40px 170px 50px 170px;
}

.donation-title {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    text-align: left;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 33px;
}

.green-line input {
    width: 234px;
    height: 51px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

.green-line input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
}

.donation-button {
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    padding: 15px 40px 15px 40px;
}

.pay-btn {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 25px;
}

.button-green-pay {
    background: $accentbackground;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 66px 15px 66px;
}