@import url("../fonts/fonts.css");
@import "./normalize";
@import "./scafolding";
@import "./header";
@import "./dialog";
@import "./shop-page";
@import "./footer";
@import "./style-2";
@import "./breadcrumb";
@import "./button";
@import "./picker";
@import "./card";
@import "./input";
@import "./form";

.page-list {
    display: flex;
    justify-content: left;
    align-items: center;
  
    &__item {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
  
      &--prev {
        &::before {
            content: url(../assets/images/back-arrow.svg);
            display: inline-block;
            margin-right: 10px;
        }
      }
    }
  }

.content {
    padding-top: 75px;
    padding-bottom: 100px;
}

.list {
    display: flex;
    column-gap: 20px;
    row-gap: 46px;
    flex-wrap: wrap;
    margin-top: 44px;

    &__item {
        width: 315px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    padding: 0px 20px;
    text-decoration: none;
}

.back-pagination-left::before {
    content: url('../assets/images/arrow-pagination-left.svg');
    margin-right: 10px;
    display: inline-block;
    width: 10.67px;
    height: 6px;
}

.back-pagination-right::after {
    content: url('../assets/images/arrow-pagination-right.svg');
    margin-left: 10px;
}

.pagination a.active-pag {
    font-weight: 700;
    color: #219653;
    }
    
.pagination a:hover:not(.active-pag) {
    color: #333333;
}