* {
    box-sizing: border-box;
}

body {
    font-family: Gilroy, sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}