@import url("../fonts/fonts.css");
@import url(./normalize.css);
@import url(./scafolding.css);
@import url(./dialog.css);

.header {
    background-color: #ffffff;
    padding-top: 33px;
    padding-bottom: 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.icons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.shop {
    margin-right: 15px;
}

.tel {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.tel-icon {
    margin-right: 12px;
}

.navigation-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    margin-right: 40px;
    color: #4F4F4F;
}

.navigation-link-last {
    margin-right: 0px;
}

.navigation-link-with-arrow::after {
    content: url(../images/arrow-down.svg);
    display: inline-block;
    width: 8.75px;
    height: 4.38px;
    margin-left: 4px;
}

.img {
    width: 244px;
    height: 45px;
    margin-bottom: 60px;
}

input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-align: left;
}

form {
    width: 345px;
    margin-top: 48px;
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

input {
    background-color: transparent;
    padding-left: 20px;
    height: 54px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}

.navigation {
    margin-bottom: 46px;
}

.content {
    padding-top: 44px;
    padding-bottom: 50px;
}

.some-content {
    font-size: 0;
    display: flex;
    column-gap: 20px;
    row-gap: 46px;
    flex-wrap: wrap;
}

.some-content-item {
    width: 315px;
    background-color:#F9F9F9;
    border: 1px solid #F2F2F2;
    box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: inline-block;
    padding: 20px 20px 30px 20px;
}

.img-item {
    width: 275px;
    height: 227px;
    margin-bottom: 25px;
}

.description {
    width: 275px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #333333;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}

.small-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
}

.price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
}

.button-green {
    background: #3FCF5E;
    border-radius: 10px;
    border: 1px solid rgba(5, 175, 52, 0.53);
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 32px;
}

.button-small {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    padding: 9px;
}

footer {
    background: #333333;
    height: 255px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 130px;
}

.section-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.link-footer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 47px;
}

.link-footer-last {
    margin-right: 0px;
}

.tel-icon-footer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.icon-social-footer {
    margin-right: 20px;
}