@import url("../fonts/fonts.css");
@import url(./normalize.css);
@import url(./scafolding.css);

.header {
    background-color: #ffffff;
    padding-top: 33px;
    padding-bottom: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.left-side {
    justify-content: flex-start;
}

.right-side {
    justify-content: flex-end;
}


.navigation {
    flex-grow: 1;
  }

.navigation-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
    text-decoration: none;
    margin-right: 40px;
}

.img {
    width: 244px;
    height: 45px;
    margin-bottom: 60px;
}

.navigation {
    margin-bottom: 46px;
}

.content {
    padding-top: 44px;
    padding-bottom: 50px;
}

.some-content {
    font-size: 0;
}

.some-content-item {
    width: 315px;
    background-color:#F9F9F9;
    border: 1px solid #F2F2F2;
    box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    column-gap: 20px;
    row-gap: 46px;
    display: inline-block;
    padding: 20px 20px 30px 20px;
}

.img-item {
    width: 275px;
    height: 227px;
    margin-bottom: 25px;
}

.description {
    width: 275px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #333333;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}

.small-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
}

.price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
}

.button-green {
    background: #3FCF5E;
    border-radius: 10px;
    border: 1px solid rgba(5, 175, 52, 0.53);
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 32px;
}

.button-small {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    padding: 9px;
}